extends layout

block content
	center
		h3 Pic-Fil-A
		p Convert the right kind of video from YouTube into a focus-stacked image
	input#files-upload(type="file", 
		accept="video")
	button#file.btn.btn-primary.hide Choose Video File
	button#yt.btn.btn-primary YouTube Video
	button#grab.btn.btn-primary.hide(onclick="frame_grabber.start()") 
		span Start
	button#save.btn.btn-primary.hide(onclick="save_stack()") Save
	button#stack.btn.btn-primary.hide(onclick="start_stacking()") Stack 'em
	button#show.btn.btn-primary.hide Show

	#saving.alert.alert-success.hide Saving... Please wait.
	#stacking.alert.alert-warning.hide Stacking... Please wait.

	hr

	.fps.hide
		p Capture framerate (0.25 - 3): 
		em
			Current: <strong id="fps"></strong>
	form#fps_range.hide(name="plob")
		input#farps(type="range", 
			min="0.25", 
			max="3", 
			step="0.25", 
			name="fps", 
			value="1",
			onchange="fps_range.render()")

	.video.hide
		p Preview:
		video#video(width="35%",  
			controls="true")
			source(src="")

	div(id="container", style="border:none")
		canvas#imageView(width="1920", height="1080")
	#imgs
	form#send_stack(name="send_stack",
		enctype="multipart/form-data")