extends layout

block content
	center
		h3 
			span Pic-Fil-A
			small &nbsp; beta
		p Convert (the right kind of) video from YouTube into a focus-stacked image
		//- input#files-upload.hide(type="file", accept="video")
		//- button#file.btn.btn-primary.hide Choose Video File
		form#video_form.form-inline
			label( for="yt_id") Enter youtube video ID: &nbsp;
			input#yt_id.input-small( type="text", placeholder="z5zOIg4e48U")
			button#yt.btn.btn-success( type="submit") Start

	button#grab.btn.btn-primary.hide( onclick="frame_grabber.start()") 
		span Start
	button#save.btn.btn-primary.hide( onclick="save_stack()") Save
	button#stack.btn.btn-primary.hide( onclick="start_stacking()") Stack 'em
	button#show.btn.btn-primary.hide Show

	#saving.alert.alert-success.hide Saving... Please wait.
	#stacking.alert.alert-warning.hide Stacking... Please wait.
	#done.alert.alert-success.hide
		p Your stacked image:
		center
			img( src="", alt="Loading...")

	h4 What will this do?
	ol
		li Download your video ( discarded afterwards )
		li Slice it up in 3 second intervals ( config coming soon )
		li Align and combine the in-focus areas of the image slices into one picture

	hr

	.fps.hide
		p Capture framerate (0.25 - 3): 
		em
			Current: <strong id="fps"></strong>
	form#fps_range.hide(name="plob")
		input#farps(type="range", 
			min="0.25", 
			max="3", 
			step="0.25", 
			name="fps", 
			value="1",
			onchange="fps_range.render()")

	.video.hide
		p Preview:
		video#video(width="35%",  
			controls="true")
			source(src="")

	div(id="container", style="border:none")
		canvas#imageView(width="1920", height="1080")
	#imgs
	form#send_stack(name="send_stack",
		enctype="multipart/form-data")